<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Resplendence</string>
	<key>CFBundleGetInfoString</key>
	<string>Resplendence version 2.0, © 2008-2010 Kreative Software.</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon2.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kreative.resplendence</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Resplendence</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>RSPL</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>i386</string>
		<string>ppc</string>
	</array>
	<key>JavaX</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/jai_codec.jar</string>
			<string>$JAVAROOT/jai_core.jar</string>
			<string>$JAVAROOT/jai-imageio-core.jar</string>
			<string>$JAVAROOT/jai-imageio-jpeg2000.jar</string>
			<string>$JAVAROOT/KSFL.jar</string>
			<string>$JAVAROOT/mlibwrapper_jai.jar</string>
			<string>$JAVAROOT/MRJToolkitStubs.jar</string>
			<string>$JAVAROOT/OpenXION.jar</string>
			<string>$JAVAROOT/PowerPaint.jar</string>
			<string>$JAVAROOT/QTJava.jar</string>
			<string>$JAVAROOT/Resplendence.jar</string>
			<string>$JAVAROOT/ual.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>com.kreative.resplendence.ResplMain</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx2048M</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsrc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mac OS Resource File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RSRC</string>
				<string>rsrc</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon2-rsrc</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DFF Resource File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DFFf</string>
				<string>DFF </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon2-dff</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>prc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Palm OS Resource File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PRCf</string>
				<string>PRC </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon2-prc</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pqa</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Palm OS Web Application</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PQAf</string>
				<string>PQA </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon2-pqa</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rcp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ResplendentColor Palette</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RCPf</string>
				<string>RCP </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon2-rcp</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kaf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Kreative Attribute File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>KAFf</string>
				<string>KAF </string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon2-kaf</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rwc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>Resplendence Working Copy</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>DocIcon2-rwc</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Anything</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
